body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-image: url('../images/background.jpg');
	background-size: 80%;
	background-position: bottom;
}

header {
	margin: 0 auto;
	background-color: #282828;
	height: 25em;
	width: 70%;
	border-radius: 50px;
}
h1 {
	color: white;
	font-family: 'Monoton',  cursive;
	font-size: 5em;
	text-shadow: 2px 2px gray;
	padding-top: .5em;
}
h2 {
	margin-bottom: 1em;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-shadow: 2px 2px gray;
	font-size: 2em;
}
span {
	color: #FF69B4;
}
#user-location {
	text-align: center;
}
form {
	display: inline-block;
}
#submit-button {
	width: 5em;
	height: 2em;
	border-radius: 5px;
}
#user-location {
	margin-top: .25em;
}
.results-container {
	width: 40em;
	margin: 2em auto;
	font-size: 1.25em;
	background-color: #282828;
	color: white;
	border-radius: 50px;
	padding: 3.125em;
}
.results-container a {
	color: #FF69B4;
	text-transform: capitalize;
}
.place {
	padding: 2em;
}
.error {
	display: hidden;
}
