body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: #ccccff;
}

header {
	margin-bottom: 1em;
	background-color: #434673;
	height: 25em;
	width: 100%;
}
h1 {
	color: white;
	font-family: 'Monoton',  cursive;
	font-size: 5em;
	text-shadow: 2px 2px gray;
	padding-top: .5em;
}
h2 {
	margin-bottom: 2em;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-shadow: 2px 2px gray;
}
#user-location {
	text-align: center;
}
form {
	display: inline-block;
}
.btn-primary, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: #f23745;
    border-color: #f23745;
}
#age {
	float: left;
	margin-right: 2em;
}
#venue-type {
	float: right;
	margin-left: 2em;
}
#user-location {
	margin-top: .25em;
}
.template {
	border: 1px solid #161623;
	width: 25em;
	border-radius: 5px;
	margin: 0 auto;
}
.error {
	display: hidden;
}
